.top-segment{
    -fx-background-image: url('../../img/login.png');
}

.back {
    -fx-background-color: #AB4642;
    -fx-background-radius:20;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;

    -fx-font-family: "Arial";

    -fx-text-fill: white;

    -fx-font-size: 26;

    -fx-text-fill: linear-gradient(white, #d0d0d0);

    -fx-padding: 10 20 10 20;

}

.signup {
    -fx-background-color: #7CAFC2;
    -fx-background-radius:20;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;

    -fx-font-family: "Arial";

    -fx-text-fill: white;

    -fx-font-size: 26;

    -fx-text-fill: linear-gradient(white, #d0d0d0);

    -fx-padding: 10 20 10 20;
}


.text-field{
    -fx-background-radius: 0;
}

.password-field{
    -fx-background-radius: 0;
}


#round-blue{
	-fx-background-color: linear-gradient(#7CAFC2, #135d8a);
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    
}

#round-blue:hover{
	-fx-background-color: linear-gradient(#7CAFC2, #98c9e6);
	
}
#round-blue:pressed{
	-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #7CAFC2 0%, #98c9e6 100%);
        
}

#round-red{
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    
    -fx-font-family: "Arial";
    
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    
}

#round-red:hover{
	-fx-background-color: linear-gradient(#ff5400, #eb7763);
	
}
#round-red:pressed{
	-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ff5400 0%, #eb7763 100%);
        
}

/*
*	Minimize button
*/
#decoration-button-minimize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../../img/minimize.png");
    -fx-background-repeat:no-repeat;
}

#decoration-button-minimize:hover{
    -fx-background-color: null;
    -fx-background-image:url("../../img/minimize-hover.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Close button
*/
#decoration-button-close{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../../img/close.png");
    -fx-background-repeat:no-repeat;
}
#decoration-button-close:hover{
    -fx-background-color: null;
    -fx-background-image:url("../../img/close-hover.png");
    -fx-background-repeat:no-repeat;
}